<section>
  <div class="banner-wrapper">
    <div class="slide-text" id="text1">Comfortable Clothes</div>
    <div class="slide-text" id="text2">Stylish Outfits</div>
    <div class="slide-text" id="text3">For Every Style</div>
    
  </div>
</section>

<style>
  .banner-wrapper {
    padding: 30px;
    background: {{ section.settings.background }}
    ;
    color: {{ section.settings.text_color }}
    ;

  }

  .slide-text {
    position: absolute;
    top: 155px;
    left: -155%; 
    transform: translate(0, -50%);
    color: black;
    padding: 20px;
    font-size: 20px;
    transition: left 0.5s ease-in-out; 
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const text1 = document.getElementById('text1');
    const text2 = document.getElementById('text2');
    const text3 = document.getElementById('text3');

    const texts = [text1, text2, text3];
    let currentIndex = 0;

    function slideToMiddle(element) {
      element.style.left = '45%';
    }

    function resetPosition(element) {
      element.style.left = '-100%';
    }

    function slideText() {
      resetPosition(texts[currentIndex]);
      currentIndex = (currentIndex + 1) % texts.length;
      slideToMiddle(texts[currentIndex]);
    }

    slideToMiddle(texts[currentIndex]);

    setInterval(slideText, 3000);
  });
</script>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
